---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-4.1.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      home-assistant:
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant-libs/python-matter-server
              tag: 8.1.0@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
            env:
              TZ: Canada/Eastern
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/arch: amd64
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node.cloudprovider.kubernetes.io/platform
                operator: NotIn
                values:
                - vmware
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "client-network",
            "namespace": "kube-system",
            "ips": ["192.168.10.22/24"],
            "mac": "2e:37:2e:6d:ab:4a"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        sysctls:
        - name: net.ipv6.conf.net1.accept_ra
          value: "2"
        - name: net.ipv6.conf.net1.accept_ra_rt_info_max_plen
          value: "64"
        - name: net.ipv6.conf.net1.forwarding
          value: "1"
    service:
      app:
        ports:
          http:
            port: 5580
    persistence:
      config:
        existingClaim: matter-server
        globalMounts:
        - path: /data
      tmp:
        type: emptyDir
