---
# yaml-language-server: $schema=https://kubernetes-schemas.mcf.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &appname external-dns-unifi
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: external-dns
  values:
    fullnameOverride: *appname
    podAnnotations:
      secret.reloader.stakater.com/reload: &secret external-dns-unifi-secret
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.8.0@sha256:fb2f74fdd0fc9fa22b95b525ccca9958715c0963d317da23b5f858858443dabe
        env:
        - name: UNIFI_HOST
          value: https://unifi
        - name: UNIFI_API_KEY
          valueFrom:
            secretKeyRef:
              name: *secret
              key: apikey
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    policy: sync
    sources:
    - gateway-httproute
    - service
    domainFilters:
    - milton.mcf.io
    - internal
    txtPrefix: k8s.
    txtOwnerId: home-cluster
    resources:
      requests:
        cpu: 10m
      limits:
        memory: 90M
    serviceMonitor:
      enabled: true
