---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
- ../../components/common
- ../../components/app-template
replacements:
- path: ../../replacements/target-namespace.yaml
resources:
- ./cilium/app.yaml
- ./cilium/config.yaml
- ./multus/app.yaml
- ./multus/networks.yaml
- ./coredns/app.yaml
- ./metrics-server/app.yaml
- ./intel-gpu-resource-driver/app.yaml
- ./descheduler/app.yaml
- ./reloader/app.yaml
- ./spegel/app.yaml
- ./snapshot-controller/app.yaml
