---
# yaml-language-server: $schema=https://crds.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-dns-unifi
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: external-dns-unifi-secret
    creationPolicy: Owner
  data:
    - secretKey: external_dns_unifi_password
      remoteRef:
        key: external-dns-unifi
        property: password
