dotenv_if_exists .env

# MiniJinja config file - default looks in ~
export MINIJINJA_CONFIG_FILE="$(expand_path ./.minijinja.toml)"

# Cluster Secrets
export KUBECONFIG="$(expand_path talos/clusterconfig/kubeconfig)"
export TALOSCONFIG="$(expand_path talos/clusterconfig/talosconfig)"
