dotenv_if_exists .env

# MiniJinja config file - default looks in ~
export MINIJINJA_CONFIG_FILE="$(expand_path ./.minijinja.toml)"

# Cluster Secrets
export KUBECONFIG="$(expand_path .secrets/kubeconfig)"
export TALOSCONFIG="$(expand_path .secrets/talosconfig)"

# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
export KUBERNETES_VERSION="v1.31.2"
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
export TALOS_VERSION="v1.8.2"
