---
stages:
- renovate

# include:
# - project: mcfaul.cloud/GitOps/renovate-config
#   file: /.gitlab-ci.yml
#   ref: main

variables:
  RENOVATE_BASE_DIR: $CI_PROJECT_DIR/.renovate
  RENOVATE_ENDPOINT: $CI_API_V4_URL
  RENOVATE_PLATFORM: gitlab
  RENOVATE_GIT_AUTHOR: Purpose Robot <33265694-purpose-robot@users.noreply.gitlab.com>
  RENOVATE_OPTIMIZE_FOR_DISABLED: 'true'
  RENOVATE_REPOSITORY_CACHE: 'enabled'
  LOG_FILE: renovate-log.ndjson
  LOG_FILE_LEVEL: debug
  CI_RENOVATE_IMAGE: ghcr.io/renovatebot/renovate:44

renovate:
  stage: renovate
  rules:
  - if: $CI_PIPELINE_SOURCE == 'schedule'
  - if: $CI_PIPELINE_SOURCE == 'web'
  image: $CI_RENOVATE_IMAGE
  artifacts:
    when: always
    expire_in: 1d
    paths:
    - '$LOG_FILE'
  script:
  - renovate --log-level $LOG_FILE_LEVEL --log-file $LOG_FILE --base-dir $RENOVATE_BASE_DIR --endpoint $RENOVATE_ENDPOINT --platform $RENOVATE_PLATFORM --optimize-for-disabled $RENOVATE_OPTIMIZE_FOR_DISABLED --repository-cache $RENOVATE_REPOSITORY_CACHE
