---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: envoy
spec:
  compression:
  - type: Zstd
  - type: Brotli
  - type: Gzip
  connection:
    bufferLimit: 8Mi
  targetSelectors:
  - group: gateway.networking.k8s.io
    kind: Gateway
  tcpKeepalive: {}
  timeout:
    http:
      requestTimeout: 0s
