---
# yaml-language-server: $schema=https://kubernetes-schemas.mcf.io/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: cert-manager
spec:
  acme:
    email: nick@mcf.io
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
    - dns01:
        cloudflare:
          email: nick@mcf.io
          apiTokenSecretRef:
            name: cert-manager-secret
            key: cloudflare-api-token
