---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: multus-client
spec:
  config: |-
    {
      "cniVersion": "0.3.1",
      "name": "multus-client",
      "plugins": [
        {
          "type": "macvlan",
          "master": "vlan10",
          "mode": "bridge",
          "ipam": {
            "type": "static",
            "routes": [
              {"dst": "224.0.0.0/4", "gw": "192.168.10.1"}
            ]
          }
        }
      ]
    }
