---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-4.1.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      recyclarr:
        type: cronjob
        cronjob:
          schedule: "@daily"
          timeZone: &timeZone Canada/Eastern
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.5.2@sha256:2550848d43a453f2c6adf3582f2198ac719f76670691d76de0819053103ef2fb
            args:
            - sync
            env:
              TZ: *timeZone
            envFrom:
            - secretRef:
                name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 5m
                memory: 32M
              limits:
                memory: 128M
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    persistence:
      config:
        type: emptyDir
      config-file:
        type: configMap
        name: recyclarr-configmap
        globalMounts:
        - path: /config/recyclarr.yml
          subPath: recyclarr.yml
          readOnly: true
      tmp:
        type: emptyDir
