---
# yaml-language-server: $schema=https://crds.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname sonarr
  namespace: flux-system
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: cnpg-cluster
    - name: external-secrets-stores
  path: ./apps/default/sonarr/resources
  prune: true
  sourceRef:
    kind: OCIRepository
    name: home-cluster
    namespace: flux-system
  wait: false
  interval: 2h
  postBuild:
    substitute:
      APP: *appname
