---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-image-cleanup
spec:
  interval: 12h
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: default
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: plex
      namespace: default
  values:
    controllers:
      plex-image-cleanup:
        type: cronjob
        cronjob:
          schedule: "30 8 * * 6"
          timeZone: &timeZone Canada/Eastern
          successfulJobsHistory: 1
          failedJobsHistory: 1
        pod:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - plex
                  topologyKey: kubernetes.io/hostname
        containers:
          app:
            image:
              repository: docker.io/meisnate12/plex-image-cleanup
              tag: v1.0.2
            env:
              PLEX_URL: http://plex.default.svc.cluster.local:32400
              PLEX_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: plex-image-cleanup-secret
                    key: PLEX_TOKEN
              PLEX_PATH: /data/plex_config/Library/Application Support/Plex Media Server
              MODE: remove
              PHOTO_TRANSCODER: true
              TZ: *timeZone
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 25m
                memory: 128Mi
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    persistence:
      config:
        type: emptyDir
      plex-config:
        existingClaim: plex
        globalMounts:
          - path: /data/plex_config/Library/Application Support/Plex Media Server
      cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /data/plex_config/Library/Application Support/Plex Media Server/Cache
      metadata:
        existingClaim: plex-metadata
        globalMounts:
          - path: /data/plex_config/Library/Application Support/Plex Media Server/Metadata
