---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - external-secret.yaml
  - letsencrypt-prod.yaml
  - letsencrypt-staging.yaml
  - letsencrypt-azure.yaml
