---
# yaml-language-server: $schema=https://kubernetes-schemas.mcf.io/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: nick@mcf.io
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    profile: shortlived
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    solvers:
    - dns01:
        cloudflare:
          apiTokenSecretRef:
            name: cert-manager-secret
            key: CLOUDFLARE_API_TOKEN
