# config file for ansible -- http://ansible.com/
# ==============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]
nocows                  = true
forks                   = 8
module_name             = command
deprecation_warnings    = true
executable              = /bin/bash

log_path                = ~/ansible.log
remote_tmp              = /tmp/.ansible/tmp
local_tmp               = /tmp/.ansible/tmp
inventory               = ./inventory
roles_path              = ./roles

ansible_managed         = Ansible managed: {file} modified by {uid} on {host}

fact_caching            = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout    = 7200

remote_port             = 22
timeout                 = 60
host_key_checking       = false
ssh_executable          = /usr/local/bin/ssh
private_key_file        = ~/.ssh/id_ed25519

callback_enabled        = true
internal_poll_interval  = 0.001

force_valid_group_names = ignore

[inventory]
unparsed_is_failed      = true

[ssh_connection]
scp_if_ssh              = smart
transfer_method         = smart
ssh_args                = -o ControlMaster=auto -o ControlPersist=30m -o Compression=yes -o ServerAliveInterval=15s
control_path            = %(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining              = true
