---
# yaml-language-server: $schema=https://kubernetes-schemas.mcf.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: silence-operator
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: silence-operator
  values:
    alertmanagerAddress: http://kube-prometheus-stack-alertmanager:9093
    networkPolicy:
      enabled: false
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/arch
            operator: In
            values:
            - "amd64"
