---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 12h
  maxHistory: 3
  chart:
    spec:
      chart: cert-manager
      version: v1.11.1
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: cert-manager
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    installCRDs: true
    replicaCount: 3
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
    # prometheus:
    #   enabled: true
    #   servicemonitor:
    #     enabled: true
    extraArgs:
      - --dns01-recursive-nameservers=1.1.1.1:53
      - --dns01-recursive-nameservers-only
    webhook:
      replicaCount: 3
      resources:
        requests:
          cpu: 50m
          memory: 32Mi
    cainjector:
      replicaCount: 3
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
