---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      plex:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env:
              TZ: Canada/Eastern
              PLEX_ADVERTISE_URL: "https://{{ .Release.Name }}.mcf.io:443,https://192.168.45.120:32400"
              PLEX_NO_AUTH_NETWORKS: 192.168.0.0/16
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              claims:
              - name: gpu
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
    defaultPodOptions:
      resourceClaims:
      - name: gpu
        resourceClaimTemplateName: plex
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    rawResources:
      gpu:
        apiVersion: resource.k8s.io/v1
        kind: ResourceClaimTemplate
        spec:
          spec:
            spec:
              devices:
                requests:
                - name: gpu
                  exactly:
                    deviceClassName: gpu.intel.com
    service:
      app:
        annotations:
          # by eliminating the http-route source, this will only be managed by external-dns-cloudflare
          external-dns.alpha.kubernetes.io/hostname: "{{ .Release.Name }}.mcf.io"
          external-dns.alpha.kubernetes.io/target: ipv4.mcf.io
          lbipam.cilium.io/ips: 192.168.45.120
        type: LoadBalancer
        ports:
          http:
            port: *port
            appProtocol: HTTPS
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
        - path: /config/Library/Application Support/Plex Media Server
      media:
        type: nfs
        server: nfs.internal
        path: /media
        globalMounts:
        - path: /media
          readOnly: true
      tmp:
        type: emptyDir
