---
machine:
  type: controlplane
  install:
    diskSelector:
      type: nvme
    image: factory.talos.dev/installer/{{ schematic_id }}:v1.10.6
  network:
    hostname: talos-node03
    interfaces:
    - deviceSelector:
        busPath: 0000:* # Ensure PCI deivces are selected
      mtu: 9000
      dhcp: true
      vlans:
      - {vlanId: 10, dhcp: false, mtu: 9000}
      vip:
        ip: 192.168.45.70
