---
# yaml-language-server: $schema=https://crds.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
spec:
  interval: 12h
  maxHistory: 3
  chart:
    spec:
      chart: spegel
      version: v0.0.23
      sourceRef:
        kind: HelmRepository
        name: spegel-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: spegel-values
  values:
    grafanaDashboard:
      enabled: true
    serviceMonitor:
      enabled: true
