---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-4.1.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gatus
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      gatus:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          gatus-sidecar:
            image:
              repository: ghcr.io/home-operations/gatus-sidecar
              tag: 0.0.11@sha256:e60e29554acfa0ff85f6f889e4b66bedb049116e42c44cee7797a1e49546a755
            args:
            - --auto-httproute
            - --enable-httproute
            - --enable-service
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            restartPolicy: Always
        containers:
          app:
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.32.0@sha256:d848d9a767f64bb7b972a30b2c8a3cd2818c4d289ddad1032a5941c2d0af5a35
            env:
              TZ: Canada/Eastern
              GATUS_CONFIG_PATH: /config
              GATUS_DELAY_START_SECONDS: 5
              WEB_PORT: &port 8080
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
                add:
                - NET_RAW
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        endpoints:
        - port: http
    route:
      app:
        hostnames:
        - status.mcf.io
        parentRefs:
        - name: external
          namespace: ingress-system
    rbac:
      roles:
        gatus:
          type: ClusterRole
          rules:
          - apiGroups:
            - ""
            resources:
            - services
            - configmaps
            - secrets
            verbs:
            - get
            - list
            - watch
          - apiGroups:
            - gateway.networking.k8s.io
            resources:
            - gateways
            - httproutes
            verbs:
            - get
            - list
            - watch
      bindings:
        gatus:
          type: ClusterRoleBinding
          subjects:
          - identifier: gatus
          roleRef:
            identifier: gatus
    serviceAccount:
      gatus: {}
    persistence:
      config:
        type: emptyDir
      config-file:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
        - path: /config/config.yaml
          subPath: config.yaml
          readOnly: true
