---
# yaml-language-server: $schema=https://crds.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname tautulli
  namespace: flux-system
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 2h
  path: ./apps/default/tautulli/resources
  prune: true
  sourceRef:
    kind: OCIRepository
    name: home-cluster
    namespace: flux-system
  wait: false
  postBuild:
    substitute:
      APP: *appname
      VOLUME_CLAIM: tautulli-config
      VOLUME_CAPACITY: 2Gi
      VOLUME_STORAGECLASS: ceph-block
      VOLUME_SNAPSHOTCLASS: csi-ceph-blockpool
