---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
- ../../components/common
- ../../components/app-template
replacements:
- path: ../../replacements/target-namespace.yaml
resources:
- ./sonarr/app.yaml
- ./radarr/app.yaml
- ./maintainerr/app.yaml
- ./prowlarr/app.yaml
- ./sabnzbd/app.yaml
- ./plex/app.yaml
- ./gatus/app.yaml
- ./tautulli/app.yaml
- ./recyclarr/app.yaml
- ./jellyseerr/app.yaml
- ./mosquitto/app.yaml
- ./home-assistant/app.yaml
- ./matter-server/app.yaml
- ./scrypted/app.yaml
- ./zwave/app.yaml
