---
# yaml-language-server: $schema=https://crds.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tautulli
spec:
  interval: 12h
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: default
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      tautulli:
        containers:
          app:
            image:
              repository: ghcr.io/tautulli/tautulli
              tag: v2.14.6
            env:
              TZ: Canada/Eastern
            command: ["/usr/local/bin/python", "Tautulli.py"]
            args: ["--config", "/config/config.ini", "--datadir", "/config"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /status
                    port: &port 8181
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: tautulli
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: internal
            namespace: ingress-system
            sectionName: https
        hostnames:
          - "{{ .Release.Name }}.milton.mcf.io"
        rules:
          - backendRefs:
              - name: tautulli
                port: *port
    persistence:
      config:
        existingClaim: ${VOLUME_CLAIM}
