---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - external-secret.yaml
  - release.yaml
configMapGenerator:
  - name: cloudflare-tunnel-configmap
    files:
      - config.yaml
generatorOptions:
  disableNameSuffixHash: true
