---
apiVersion: v1
kind: Pod
metadata:
  name: haproxy
  namespace: kube-system
  creationTimestamp: null
  labels:
    k8s-app: kube-haproxy
    addonmanager.kubernetes.io/mode: Reconcile
  annotations:
    haproxy-cfg-checksum: "{{ haproxy_cfg.stat.checksum }}"
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  priorityClassName: system-node-critical
  containers:
  - name: haproxy
    image: {{ haproxy_image }}
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: {{ haproxy_requests_cpu }}
        memory: {{ haproxy_requests_memory }}
    {% if haproxy_healthcheck_port is defined -%}
    livenessProbe:
      httpGet:
        path: /healthz
        port: {{ haproxy_healthcheck_port }}
    readinessProbe:
      httpGet:
        path: /healthz
        port: {{ haproxy_healthcheck_port }}
    {% endif -%}
    volumeMounts:
    - mountPath: /usr/local/etc/haproxy/
      name: haproxyconf
      readOnly: true
  volumes:
  - name: haproxyconf
    hostPath:
      path: {{ haproxy_config_dir }}
status: {}
