---
apiVersion: v1
kind: Pod
metadata:
  name: keepalived
  namespace: kube-system
  creationTimestamp: null
  labels:
    k8s-app: kube-keepalived
    addonmanager.kubernetes.io/mode: Reconcile
  annotations:
    keepalived-conf-checksum: "{{ keepalived_conf.stat.checksum }}"
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  priorityClassName: system-node-critical
  containers:
  - name: keepalived
    image: {{ keepalived_image }}
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: {{ keepalived_requests_cpu }}
        memory: {{ keepalived_requests_memory }}
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_BROADCAST
        - NET_RAW
    volumeMounts:
    - mountPath: /config/
      name: keepalivedconf
      readOnly: true
  volumes:
  - name: keepalivedconf
    hostPath:
      path: {{ keepalived_config_dir }}
status: {}
