---
# vim: ft=ansible.yaml
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.10/website/content/v1.10/schemas/config.schema.json
version: v1alpha1
machine:
  token: op://home-cluster/talos/machine/token
  ca:
    crt: op://home-cluster/talos/machine/ca_crt
    {% if is_controlplane %}
    key: op://home-cluster/talos/machine/ca_key
    {% endif %}
  features:
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      resolveMemberNames: true
      forwardKubeDNSToHost: false
    kubePrism:
      enabled: true
      port: 7445
    {% if is_controlplane %}
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
      - os:admin
      - os:reader
      allowedKubernetesNamespaces:
      - arc-system
      - kube-system
      - system-upgrade
    {% endif %}
  files:
  - path: /etc/cri/conf.d/20-customization.part
    op: create
    content: |-
      [plugins."io.containerd.cri.v1.images"]
        discard_unpacked_layers = false
      [plugins."io.containerd.cri.v1.runtime"]
        cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
        device_ownership_from_security_context = true
  - path: /etc/nfsmount.conf
    op: overwrite
    permissions: 0o644
    content: |-
      [ NFSMount_Global_Options ]
      nfsvers=4.2
      hard=True
      nconnect=16
      noatime=True
      rsize=131072
      wsize=131072
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      serializeImagePulls: false
      imageGCHighThresholdPercent: 70
      imageGCLowThresholdPercent: 50
      shutdownGracePeriod: 60s
      allowedUnsafeSysctls:
      - "net.ipv6.conf.net1.*" # Allow IPv6 syscalls, required for matter/thread
    image: ghcr.io/siderolabs/kubelet:v1.34.3
    nodeIP:
      validSubnets:
      - 192.168.45.0/24
  sysctls:
    fs.inotify.max_user_watches: "1048576" # Watchdog
    fs.inotify.max_user_instances: "8192" # Watchdog
    net.core.rmem_max: "67108864" # Cloudflared / QUIC
    net.core.wmem_max: "67108864" # Cloudflared / QUIC
    user.max_user_namespaces: "11255" # User Namespaces
cluster:
  id: op://home-cluster/talos/cluster/id
  secret: op://home-cluster/talos/cluster/secret
  ca:
    crt: op://home-cluster/talos/cluster/ca_crt
    {% if is_controlplane %}
    key: op://home-cluster/talos/cluster/ca_key
    {% endif %}
  controlPlane:
    endpoint: https://k8s.internal:6443
  clusterName: home-cluster
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service:
        disabled: false
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
    - 10.45.0.0/16
    serviceSubnets:
    - 10.46.0.0/16
  token: op://home-cluster/talos/cluster/token
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.34.3
  {% if is_controlplane %}
  aggregatorCA:
    crt: op://home-cluster/talos/cluster/aggregator_ca_crt
    key: op://home-cluster/talos/cluster/aggregator_ca_key
  serviceAccount:
    key: op://home-cluster/talos/cluster/service_account_key
  allowSchedulingOnControlPlanes: true
  secretboxEncryptionSecret: op://home-cluster/talos/cluster/secretbox_encryption_secret
  apiServer:
    image: registry.k8s.io/kube-apiserver:v1.34.3
    extraArgs:
      enable-aggregator-routing: "true"
      feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
    certSANs:
    - k8s.internal
    disablePodSecurityPolicy: true
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
      - level: Metadata
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-controller-manager:v1.34.3
  scheduler:
    image: registry.k8s.io/kube-scheduler:v1.34.3
    extraArgs:
      bind-address: 0.0.0.0
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
      - schedulerName: default-scheduler
        plugins:
          score:
            disabled:
            - name: ImageLocality
        pluginConfig:
        - name: PodTopologySpread
          args:
            defaultingType: List
            defaultConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: ScheduleAnyway
  coreDNS:
    disabled: true
  etcd:
    ca:
      crt: op://home-cluster/talos/etcd/ca_crt
      key: op://home-cluster/talos/etcd/ca_key
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
      election-timeout: "5000"
    advertisedSubnets:
    - 192.168.45.0/24
  {% endif %}
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: primary0
selector:
  match: true
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: primary0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: ResolverConfig
searchDomains:
  domains:
  - internal
  - milton.mcf.io
---
apiVersion: v1alpha1
kind: TimeSyncConfig
ntp:
  servers:
  - 192.168.10.30
  - 0.ca.pool.ntp.org
  - 1.ca.pool.ntp.org
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
volumeType: directory
---
apiVersion: v1alpha1
kind: OOMConfig
triggerExpression: "false"
