---
# yaml-language-server: $schema=https://crds.pages.dev/volsync.backube/replicationdestination_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: ${APP}-restore-once
spec:
  trigger:
    manual: restore-once
  restic:
    copyMethod: "${VOLSYNC_COPYMETHOD:-Snapshot}"
    repository: ${APP}-backup-local
    cacheStorageClassName: ${VOLUME_CACHE_SNAPSHOTCLASS:-openebs-hostpath}
    cacheAccessModes:
      - ${VOLUME_CACHE_ACCESSMODES:-ReadWriteOnce}
    cacheCapacity: ${VOLUME_CAPACITY:-1Gi}

    storageClassName: ${VOLUME_STORAGECLASS:-ceph-block}
    accessModes:
      - ${VOLUME_ACCESSMODES:-ReadWriteOnce}
    volumeSnapshotClassName: ${VOLUME_SNAPSHOTCLASS:-csi-ceph-blockpool}
    capacity: ${VOLUME_CAPACITY:-1Gi}
    moverSecurityContext:
      runAsUser: ${VOLUME_PUID:-568}
      runAsGroup: ${VOLUME_PGID:-568}
      fsGroup: ${VOLUME_PGID:-568}
    enableFileDeletion: true
    cleanupCachePVC: true
    cleanupTempPVC: true
