---
# yaml-language-server: $schema=https://crds.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prowlarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: prowlarr-secret
    template:
      engineVersion: v2
      data:
        # App Configuration
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR_API_KEY }}"
        PROWLARR__POSTGRES__HOST: &dbHost cnpg-cluster-rw
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: &dbUser "{{ .PROWLARR_POSTGRES_USER }}"
        PROWLARR__POSTGRES__PASSWORD: &dbPass "{{ .PROWLARR_POSTGRES_PASSWORD }}"
        PROWLARR__POSTGRES__MAINDB: prowlarr_main
        # Init Configuration
        INIT_POSTGRES_DBNAME: prowlarr_main
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: prowlarr
    - extract:
        key: mediaserver-cnpg-superuser
