---
# yaml-language-server: $schema=https://crds.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 12h
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.15.5
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: rook-ceph
  timeout: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-operator
      namespace: rook-ceph
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
    toolbox:
      enabled: true
    configOverride: |
      [global]
      bdev_enable_discard = true
      bdev_async_discard = true
    ingress:
      dashboard:
        host:
          name: ceph.milton.mcf.io
          path: /
        ingressClassName: nginx
    cephClusterSpec:
      crashCollector:
        disable: false
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        prometheusEndpoint: http://stack-prometheus.monitoring:9090
      mgr:
        modules:
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
          - name: diskprediction_local
            enable: true
      network:
        provider: host
        connections:
          requireMsgr2: true
      storage:
        useAllNodes: true
        useAllDevices: false
        deviceFilter: ^nvme.
        config:
          osdsPerDevice: "1"
      placement:
        mgr: &placement
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-role.kubernetes.io/control-plane
                      operator: Exists
          tolerations:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
        mon: *placement
      resources:
        mgr:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 2Gi
        mon:
          requests:
            cpu: 50m
            memory: 512Mi
          limits:
            memory: 1Gi
        osd:
          requests:
            cpu: 500m
            memory: 2Gi
          limits:
            memory: 4Gi
        mgr-sidecar:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            memory: 256Mi
    cephECBlockPools:
      - name: ceph-ec-blockpool
        spec:
          metadataPool:
            replicated:
              size: 3
          dataPool:
            failureDomain: host
            erasureCoded:
              dataChunks: 2
              codingChunks: 1
            deviceClass: hdd
        parameters:
          clusterID: rook-ceph
          imageFormat: "2"
          imageFeatures: layering
        storageClass:
          enabled: true
          name: ceph-block
          provisioner: rook-ceph.rbd.csi.ceph.com
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
    cephBlockPools: {}
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete
    cephFileSystems: {}
    cephFileSystemVolumeSnapshotClass: {}
    cephObjectStores: {}
