---
apiVersion: notification.toolkit.fluxcd.io/v1
kind: Receiver
metadata:
  name: home-cluster
  namespace: flux-system
spec:
  type: github
  events:
    - ping
    - push
  secretRef:
    name: github-webhook-token
  resources:
    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: GitRepository
      name: home-cluster-kubernetes
