---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-4.1.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      multus:
        type: daemonset
        initContainers:
          cni-plugins:
            image:
              repository: ghcr.io/home-operations/cni-plugins
              tag: 1.9.0@sha256:cd462d8720f1d9867748f86f84d3b0898f935f882a5130ce47c2c037b1bd3471
        containers:
          multus:
            image:
              repository: ghcr.io/k8snetworkplumbingwg/multus-cni
              tag: v4.2.3@sha256:54f120a6f8fede8e2da0d0fe3bed3da2c92edcb2cd895e4f382784a9a708e1b9
            args:
            - --cleanup-config-on-exit
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 32Mi
            securityContext:
              privileged: true
    defaultPodOptions:
      hostNetwork: true
    rbac:
      roles:
        multus:
          type: ClusterRole
          rules:
          - apiGroups:
            - k8s.cni.cncf.io
            resources:
            - "*"
            verbs:
            - "*"
          - apiGroups:
            - ""
            resources:
            - pods
            - pods/status
            verbs:
            - get
            - update
          - apiGroups:
            - ""
            - events.k8s.io
            resources:
            - events
            verbs:
            - create
            - patch
            - update
      bindings:
        multus:
          type: ClusterRoleBinding
          subjects:
          - identifier: multus
          roleRef:
            identifier: multus
    serviceAccount:
      multus: {}
    persistence:
      etc-cni-net-d:
        type: hostPath
        hostPath: /etc/cni/net.d
        globalMounts:
        - path: /host/etc/cni/net.d
      opt-cni-bin:
        type: hostPath
        hostPath: /opt/cni/bin
        globalMounts:
        - path: /host/opt/cni/bin
