---
# yaml-language-server: $schema=https://crds.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: sonarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: sonarr-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App Configuration
        SONARR__AUTH__APIKEY: "{{ .SONARR__API_KEY }}"
        SONARR__POSTGRES__HOST: &dbHost cnpg-cluster-rw
        SONARR__POSTGRES__PORT: "5432"
        SONARR__POSTGRES__USER: &dbUser "{{ .SONARR__POSTGRES_USER }}"
        SONARR__POSTGRES__PASSWORD: &dbPass "{{ .SONARR__POSTGRES_PASS }}"
        SONARR__POSTGRES__MAINDB: sonarr_main
        # Init Configuration
        INIT_POSTGRES_DBNAME: sonarr_main sonarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: sonarr
    - extract:
        key: mediaserver-cnpg-superuser
