---
# yaml-language-server: $schema=https://crds.pages.dev/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mqtt-cert
spec:
  secretName: mqtt-cert
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - mqtt.milton.mcf.io
    - "*.mqtt.milton.mcf.io"
