---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: prometheus
  namespace: monitoring
  annotations:
    external-dns.alpha.kubernetes.io/target: ingress.milton.mcf.io
spec:
  gateways:
  - istio-system/istio-ingressgateway
  hosts:
  - prometheus.milton.mcf.io
  http:
  - match:
    - port: 443
    route:
    - destination:
        host: z-prometheus.monitoring.svc.cluster.local
        port:
          number: 9090
