---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/tags/app-template-4.1.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: scrypted
spec:
  interval: 12h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      scrypted:
        containers:
          app:
            image:
              repository: ghcr.io/koush/scrypted
              tag: v0.141.0-noble-lite
            command:
            - "/bin/sh"
            args:
            - "-c"
            - "ulimit -c 0; exec npm --prefix /server exec scrypted-serve"
            env:
              TZ: Canada/Eastern
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                gpu.intel.com/i915: 1
                memory: 8Gi
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node.cloudprovider.kubernetes.io/platform
                operator: NotIn
                values:
                - vmware
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "multus-client",
            "namespace": "kube-system",
            "ips": ["192.168.10.21/24"],
            "mac": "46:a9:fb:cd:56:35"
          }]
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 11080
    route:
      app:
        hostnames:
        - "{{ .Release.Name }}.milton.mcf.io"
        parentRefs:
        - name: internal
          namespace: ingress-system
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
        - path: /server/volume
      tmp:
        type: emptyDir
