---
# yaml-language-server: $schema=https://crds.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname cloudflare-tunnel
  namespace: flux-system
spec:
  targetNamespace: ingress-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: external-secrets-stores
  path: ./apps/ingress-system/cloudflare/tunnel/resources
  prune: true
  sourceRef:
    kind: OCIRepository
    name: home-cluster
    namespace: flux-system
  wait: false
  interval: 12h
  postBuild:
    substitute:
      CLOUDFLARE_TUNNEL_ID: d36b11af-eece-4f98-b93b-6b087a3951bf
