---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Schedule - Sync labels

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # daily at midnight
  push:
    branches:
      - main
    paths:
      - .github/labels.yaml

permissions:
  issues: write

jobs:
  sync-labels:
    name: Sync Labels
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          sparse-checkout: .github/labels.yaml

      - name: Sync Labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2.3.3
        with:
          config-file: .github/labels.yaml
          delete-other-labels: true
